html body{
    border: none;
    text-decoration: none;
    margin: 0;
    background-color: #1C1C1C;
    font-family: 'Nunito', sans-serif;
}
.bar{
    width: 100%;
    height: 180px;
    background-color: #1C1C1C;
}
.logo{
    margin-left: 100px;
    padding-top: 15px;
    width: 120px;
    height: auto;
    float: left;
}
.navigation{
    margin-right: 100px;
    padding-top: 80px;
    float: right;
}
.navigation a{
    text-decoration: none;
    font-size: 18px ;
    color: #FFFFFF;
    padding: 5px;
}
.navigation a:hover{
    transition: linear all 0.2s;
    border-radius: 10px;
    background-color: #262626;
    color: #E3E3E3;
}
.inicio{
    position: relative;
    overflow: hidden;
    width: 100%;
    height: 470px;
    background-color: #1C1C1C;
    float: left;
}
.inicio video{
    position: relative;
    z-index: 1;
    top: 0;
    width: 100%;
    height: 470px;
    object-fit: cover;
    opacity: 0.9;
}
.overlay {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-image: linear-gradient(45deg, rgba(0,0,0,.3) 50%, rgba(0,0,0,.7) 50%);
    background-size: 2px 2px;
    z-index: 2;
}
.whatsapp{
    float: left;
    padding-left: 10%;
    padding-top: 7%;
    text-align: center;
}
.whatsapp a {
    float: left;
    padding-left: 32px;
}
.whatsapp span{
    font-weight: bolder;
    font-size: 40px;
    text-transform: uppercase;
    display: block;
}
.whatsapp button{
    text-transform: uppercase;
    width: 250px;
    height: 60px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    color: #FFFFFF;
    font-weight: bold;
    background-color: #2fb140;
}
.whatsapp button:hover{
    background-color: #299938;
}
.apresentacao{
    cursor: default;
    color: #fff;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2;
    padding-top: 80px;
    padding-right: 80px;
    text-align: right;
}
.servicos{
    text-align: center;
    width: auto;
    background-color: #E3E3E3;
}
.portfolio{
    width: auto;
}
.portfolio h1{
    text-align: center;
    background-color: #1C1C1C;
    color: #FFFFFF;
}
.section{
    display: inline-block;
    width: 400px;
    height: 400px;
}
.section img{
    padding-top: 10px;
    width: 350px;
    height: 300px;
    cursor: pointer;
}
.section img:hover{
    opacity: 0.8;
}
.footer{
    width: auto;
    height: 300px;
    background-color: #1C1C1C;
}
.map{
    width: 400px;
    height: auto;
    padding: 15px;
    float: left;
}
.map p{
    text-align: center;
    color: #FFFFFF;
    font-weight: bold;
}
.funcionamento{
    width: 850px;
    height: auto;
    padding: 15px;
    float: left;
}
.funcionamento p{
    text-align: center;
    color: #FFFFFF;
    font-weight: bold;
}
.funcionamento span{
    color: #E3E3E3;
    display: block;
    text-align: center;
    padding-top: 60px;
}
.social{
    text-align: center;
}

@media only screen and (max-width: 796px){
    .navigation{
        display: none;
    }
    .yt{
        display: none;
    }
    .map{
        float: none;
    }
    .funcionamento{
        float: none;
    }
}